# Environment variables
.env

# Python bytecode
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
env/

# IDE and editor directories
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files - uncomment the line below if you do not want to commit data files to your repository
# data/
/data

*.csv

plan.md

dvc_storage/files